/* Navbar & Title Section */

#title {
    background-color: #212529;
}
.container-fluid {
    padding: 3% 15% 7%;
}

/* Title Image Animation */
.title-animation {
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: 3;
}
@keyframes example {
    0%   {top:0px;}
    5%   {top:-10px;}
    10%  {top:-20px;}
    15%  {top:-30px;}
    20%  {top:-40px;}
    25%  {top:-50px;}
    30%  {top:-40px;}
    35%  {top:-30px;}
    40%  {top:-20px;}
    45%  {top:-10px;}
    50%  {top:0px;}
    55%  {top:10px;}
    60%  {top:20px;}
    65%  {top:30px;}
    70%  {top:40px;}
    75%  {top:50px;}
    80%  {top:40px;}
    85%  {top:30px;}
    90%  {top:20px;}
    95%  {top:10px;}
    100% {top:0px;}
  }

h1 {
    font-family: 'Lato-Black', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

h2 {
    font-family: "Lato-Bold", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Lato-Bold", sans-serif;
}

p {
    color: #8f8f8f;
}

body {
    font-family: "Lato", sans-serif;
}

hr {
    color: #E6A802;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 10%;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 60px;
}

.navbar {
    padding: 0 0 4.5rem;
}

/* Navigation Bar */
.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Lato-light", sans-serif;
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0%;
}

/* Title Image */
.title-img {
    width: 75%;
    margin-left: 50px;
}

/* Features */
#features {
    padding: 7% 15%;
    background-color: #fff;
}
.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #616161;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #E6A802;
}

/* Menu section */

#menu {
    text-align: center;

}
.menu-title {
    font-family: "Ubuntu", sans-serif;
    color: #E6A802;
}
.carousel-button {
    filter: invert(100%);
}

/* Testimonial section */
#testimonials {
    text-align: center;
    background-color: #616161;
    color: #fff;

}

.google-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.yelp-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.fnp-img {
    width: 7%;
    border-radius: 100%;
    margin: 20px;
}

#testimonial-sites {
    background-color: #616161;
    text-align: center;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* hours & location Section */
#location {
    padding: 100px;
    text-align: center;
}

.hours-location {
    padding: 3% 2%;
    text-align: center;
}
.operations {
    margin: 100px auto;
}

/* CTA & Footer Section */
#cta {
    background-color: #212529;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    font-family: 'Lato-Black', sans-serif;
}

#footer {
    padding: 7% 15%;
    text-align: center;
}
.footer-icon {
    margin: 0px 10px;
    color: #E6A802;
}
.copyright {
    margin-top: 13px;
    margin-bottom: 0px;
}
.bottom-logo {
    margin-bottom: 20px;
}